h1{ text-align: center; }
img{display: block;margin:auto;}
nav{text-align:center;}
a{background-color: grey;padding-left: 10px;padding-right: 10px;}
figcaption{font-size: smaller;text-align: center;}
#featured-property p{text-align: center;margin: auto;width:800px;}

#details div{float: left;}
#details div{background-color: red;text-align: center;width: 375px;}
#details a{background-color:red;}